https://data.pyg.org/whl/torch-1.8.0%2Bcu111/torch_scatter-2.0.8-cp37-cp37m-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.8.0%2Bcu111/torch_sparse-0.6.12-cp37-cp37m-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.8.0%2Bcu111/torch_cluster-1.5.9-cp37-cp37m-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.8.0%2Bcu111/torch_spline_conv-1.2.1-cp37-cp37m-linux_x86_64.whl
torch-geometric

